body {
	margin: 0;
	padding: 0;
	font: 16px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	color: #333;
	touch-action: none;
}

svg {
	cursor: grab;
	font-size: 16px;
}

svg:active {
	cursor: grabbing;
}

div.bar {
	width: 100%;
	height: 50px;
	padding: 5px 20px;
	background-color: #3666b0;
	box-sizing: border-box;
}

div.logo {
	width: 40px;
	height: 100%;
	background: url(images/logo.svg) no-repeat center / 24px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

div.title {
	height: 100%;
	line-height: 40px;
	font-size: 133%;
	font-weight: 700;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

div.container {
	width: 170px;
	height: 50px;
	user-select: none;
}
div.id {
	display: inline-block;
	width: 50px;
	height: 100%;
	border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
    vertical-align: middle;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}
div.label {
	height: 100%;
	display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

p.description {
	margin: 10px 20px;
	color: #777;
}

div.tooltip {
	position: absolute;
	text-align: left;
	padding: 10px;
	font: 12px sans-serif;
	color: #fff;
	background: #333;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
	white-space: nowrap;
}

@media only screen and (max-width: 480px) {
	body {
		font-size: 12px;
	}

	div.bar {
		padding: 5px;
	}

	p.description {
		margin: 10px;
	}
}

@media only screen and (max-width: 400px) {
	body {
		font-size: 10px;
	}

	div.bar {
		height: 30px;
		padding: 0 5px;
	}

	div.logo {
		width: 30px;
		background-size: 18px;
		margin: 0;
	}

	div.title {
		line-height: 30px;
	}

	p.description {
		margin: 5px;
	}
}
